name: PR workflow

on:
  pull_request:
    types:
      - opened
      - synchronize
      - closed
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  validate-branch-prefix:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request' && github.event.action != 'closed'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.ref }}

      - name: Get branch prefix
        id: branch-prefix
        run: echo "prefix=$(echo '${{ github.event.pull_request.head.ref }}' | cut -d '/' -f 1)" >> "$GITHUB_OUTPUT"

      - name: Check if branch prefix is valid (major, minor, patch)
        run: |
          prefix='${{ steps.branch-prefix.outputs.prefix }}'
          echo "branch prefix: $prefix"
          if [[ "$prefix" != "major" && "$prefix" != "minor" && "$prefix" != "patch" && "$prefix" != "dependabot" ]]; then
            echo "Branch prefix is not valid, exiting... allowed prefixes are major, minor, patch, dependabot"
            exit 1
          fi
          echo "Branch prefix is valid"

  bump-version-on-merge:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request' && github.event.action == 'closed' && github.event.pull_request.merged == true
    steps:
      - name: Checkout base branch
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.base.ref }}
          fetch-depth: 0

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Get branch prefix
        id: branch-prefix
        run: echo "prefix=$(echo '${{ github.event.pull_request.head.ref }}' | cut -d '/' -f 1)" >> "$GITHUB_OUTPUT"

      - name: Validate branch prefix
        run: |
          prefix='${{ steps.branch-prefix.outputs.prefix }}'
          echo "branch prefix: $prefix"
          if [[ "$prefix" != "major" && "$prefix" != "minor" && "$prefix" != "patch" && "$prefix" != "dependabot" ]]; then
            echo "Branch prefix is not valid, exiting... allowed prefixes are major, minor, patch, dependabot"
            exit 1
          fi

      - name: Setup git
        run: |
          git config --global user.email "${{ secrets.MY_EMAIL }}"
          git config --global user.name "${{ secrets.MY_USERNAME }}"

      - name: Set next version number based on prefix
        id: bump-version
        run: |
          prefix='${{ steps.branch-prefix.outputs.prefix }}'
          if [[ "$prefix" == "major" ]]; then
            npm --no-git-tag-version version major
          elif [[ "$prefix" == "minor" ]]; then
            npm --no-git-tag-version version minor
          else
            npm --no-git-tag-version version patch
          fi
          echo "version=$(jq -r '.version' package.json)" >> "$GITHUB_OUTPUT"
      
      - name: Commit and push changes to main
        run: |
          version='${{ steps.bump-version.outputs.version }}'
          git add package.json package-lock.json
          git commit -m "chore(release): bump ${{ steps.branch-prefix.outputs.prefix }} version to $version"
          git push origin HEAD

  check-naming:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request' && github.event.action != 'closed'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Check PR name
        run: |
          pr_name=$(jq -r .pull_request.title $GITHUB_EVENT_PATH)
          if [[ ! $pr_name =~ ^(feat|fix|chore|docs|misc)(\([a-zA-Z]+\))?!?:\ .*$ ]]; then
            echo "error: Pull request title must start with feat/fix/chore/docs/misc, followed by optional ! for breaking changes, followed by an optional scope in parentheses, followed by a colon, followed by a space, followed by a description."
            exit 1
          fi
  
  gh-release:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main' && startsWith(github.event.head_commit.message, 'chore(release)')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Get semver version
        id: version-check
        run: echo "version=$(jq -r '.version' package.json)" >> "$GITHUB_OUTPUT"

      - name: Create release
        uses: softprops/action-gh-release@v1
        with:
          name: "New release ${{ steps.version-check.outputs.version }}"
          tag_name: ${{ steps.version-check.outputs.version }}
          generate_release_notes: true
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  publish-npm:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main' && startsWith(github.event.head_commit.message, 'chore(release)')
    runs-on: ubuntu-latest
    needs:
      - gh-release
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        run: npm install

      - name: Publish to NPM
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
